SECRET_KEY=cambie-esto-en-produccion
JWT_SECRET_KEY=cambie-esto-en-produccion
DATABASE_URL=sqlite:///academico.db
FRONTEND_URL=https://trabajofinaldwa.vercel.app
CORS_ORIGINS=http://localhost:5173,https://trabajofinaldwa.vercel.app
